#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-image: url("../src/components/views/Assets/Nike-logo.webp"); */
    background: linear-gradient(rgba(85, 187, 255, 0.718), rgba(242, 155, 242, 0.685))  ;
  }
  .mainSection{
    flex-grow: 1;
    overflow: hidden;
  }

  /* MEnu */
.logoMenu{
  width: 120px;
  border-radius: 150px;
}
.icono-whatsap{
  color: rgb(52, 238, 0);
}
.icono-facebook{
  color: rgb(0, 115, 255);
}
.icono-instagram{
  color: rgb(177, 5, 186);
}
/* inicio */
.imgBanner{
  height: 40vh;
  width: 100%;
}
.imagenProductoInicio{
  height: 300px;
  object-fit: cover;
}
.cuerpoProductoInicio{
  overflow: hidden; /* Oculta el contenido que se desborda */
  text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto */
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nombrePrenda{
  margin-bottom: 0px!important;
}
.precioPrenda{
  margin-bottom: 2px;
}
@media (max-width: 768px) {
  .alineacionProductos {
   display: flex;
   justify-content: center;
  }
  .imgBanner{
    height: 40vh;
 }
 .imagenProductoInicio{
  height: 170px;
}
.cuerpoProductoInicio{
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nombrePrenda{
  font-size: 11px!important;
  margin: 0!important;
}
.precioPrenda{
  font-size: 11px!important;
  margin: 0!important;
  margin-bottom: 3px!important;
}
.botonPrenda{
  font-size: 10px!important;
  margin: 1px;
  height: 100%;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}
.contenedorBotonesPrendas{
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}
}

/* administrador */
.imagenTablaAdministrador{
  width: 50px;
  height: 55px;
}
/* Contacto */

.contac{
  border: 1px solid white;
  height: 100px;
  background-color: white;
}

.contactoBody{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* img{
  height: 600%;
} */

.contacto{
  padding-top: 100px;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  /* justify-content: center; */
  
}

@media (max-width: 1100px){

  .col{
      display: flex;
      flex-direction: row;
      height: 2300px;
  }

}

/* CSS Del Login */

.conteiner{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  background-color: white;
  padding-bottom: 30px;  
  width: 50%;
  border-radius: 2%;
}


.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.txt{
  color: purple;
  font-size: 48px;
  font-weight: 700;
  font-style: oblique;
}

.linea{
  width: 60px;
  height: 6px;
  background-color: purple;
  border-radius: 9px;
}

.inputs{
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input{
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
}

.input img{
  margin: 30px;
}

.input input{
  background: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 19px;
}

.submit{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: white;
  background: purple;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;

}
@media (max-width: 768px) {
  .conteiner{
    width: 90%;
  }
  .input{
    width: 90%;
  }
}
/* CSS Sobre Nosotros  */

.iconos {
      display: flex;
      flex-direction: row;
      height: 500px;
}

.cont1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  flex-direction: row;
} 

.titulo{
  margin: 30px;
  width: 100%;
  font-style: oblique;

}

.parrafo{
  width: 100%;
  margin: 30px;
  color: white;
  font-size: 120%;

} 

.imagenSobreNosotros{

  width: 100%;
}
.cont2{
  background-color: orange;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
 } 

.titulo2{
  margin: 30px;
 }
 
.parrafo2{
  margin: 30px;
 }

 .contenedor-carrusel{
  width: 70%;
  margin: 30px;
  background-color: #eaeaea;
  border-radius: 2%;
 }
 .contenedorImgCarrousel{
  width: 100%;
  height: 400px;
 }
 .contenedorImgCarrousel img{
  height: 100%;
 }
 @media (max-width: 768px) {
  
 .contenedor-carrusel{
  width: 100%;
 }
 .contenedorImgCarrousel{
  height: 370px;
 }
 }
/* css error */


.imgError{
  height: 100%;
}

.error{
  padding-top: 100px;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

/* CSS CONTACTO */



/* .contacto{
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.ubicacion{
  padding: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}


@media (max-width: 768px) {
 .ubicacion{
  margin-top: 0px;
 }
} */